<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="highlightRules.css"/>
        <meta charset = "UTF-8">
        <title>Advanced Filters</title>
    </head>
   
    <body>
        <h1>Highlighting Rules Management</h1>
        Manage your filter highlighting settings here. They control how the item looks and sounds when dropped on the ground.
        <p/>
        <form class="user-form">
            <div class="form-input">
                <label for="lowValueSettingText">Low Value Item Highlight Setting:</label>
                <textarea id="lowValueSettingText" rows="8"></textarea>
            </div>
            <p/>
            <div class="form-input">
                <label for="midValueSettingText">Mid Value Item Highlight Setting:</label>
                <textarea id="midValueSettingText" rows="8"></textarea>
            </div>
            <p/>
            <div class="form-input">
                <label for="highValueSettingText">High Value Item Highlight Setting:</label>
                <textarea id="highValueSettingText" rows="8"></textarea>
            </div>
            <p/>
        </form>

        <script type="text/javascript" src="../../ioadapters/controllers/HighlightRulesController.js"></script>
    </body>
</html>