*{
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

    line-height: 1.6;
    font-size: 18px;  
}

body {
    margin: 0;
}

section {
    width: 1000px;
}

.wrapper {
    color: #858585;
    position: fixed;
    background: #373737;
    margin-left: 200px;
    padding: 40px;
    height: 100%;
    width: 100%;
    overflow-y:auto;
}

.navbar {
    position: fixed;
    width: 200px;
    height: 100%;
    padding: 30px 0;
    background: #232323;
    overflow: auto;
}

.navbar h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    color: #757575; 
}

.navbar ul li {
    padding: 15px;
}

.navlink {
    color: #757575; 
    display: block;
}

.navlink:visited {
    color: #757575; 
}

.navlink:active {
    color: #FFFFFF; 
}

.navlink:hover {
    color: #FFFFFF; 
}

.navlink.active {
    color: #FFFFFF; 
    display: block;
}